@{
    ViewData["Title"] = "About Page";
}

<h1 class="display-4">About Us</h1>

<center>
    <div class="container">
        <div class="img-wrapper img-fluid row">
            <div class="img-thumbnail col-md-3 text-center">
                <img src="https://image.shutterstock.com/image-photo/portrait-three-chefs-were-satisfied-260nw-730668679.jpg" width="90%" alt="Alternate Text" />
                <p>
                    Recognized From our Time
                </p>
            </div>
            <div class="img-thumbnail col-md-3 text-center">
                <img src="https://image.shutterstock.com/image-photo/portrait-three-chefs-were-satisfied-260nw-730668679.jpg" width="90%" alt="Alternate Text" />
                <p>
                    Recognized From our Time
                </p>
            </div>
            <div class="img-thumbnail col-md-3 text-center">
                <img src="https://image.shutterstock.com/image-photo/portrait-three-chefs-were-satisfied-260nw-730668679.jpg" width="90%" alt="Alternate Text" />
                <p>
                    Recognized From our Time
                </p>
            </div>
            <div class="img-thumbnail col-md-3 text-center">
                <img src="https://image.shutterstock.com/image-photo/portrait-three-chefs-were-satisfied-260nw-730668679.jpg" width="90%" alt="Alternate Text" />
                <p>
                    Recognized From our Time
                </p>
            </div>
        </div>
    </div>
</center>

<div class="container" style="margin-top:70px;">
    <hr />
    <p class="text-center" style="margin-top:15px;">
        Facilisi est dui habitasse odio rhoncus hac feugiat donec placerat ultricies inceptos? Tristique risus laoreet montes proin magnis dapibus justo augue vel lectus vehicula dui. Montes molestie tempor lorem mollis. Facilisis habitasse nibh gravida. Nullam quam nibh suscipit habitant interdum morbi convallis quis habitant vulputate, mi risus! Et mus sagittis consectetur parturient arcu porta rhoncus natoque aliquam himenaeos? Aenean bibendum duis sociis libero lectus aenean scelerisque nam. Consequat, pellentesque aptent interdum vivamus. Mollis, lectus mattis fermentum aptent vulputate. Volutpat rhoncus montes iaculis vehicula, blandit rutrum vel metus sapien diam vulputate. Inceptos dignissim ut mus. Quisque diam egestas ullamcorper ligula. Bibendum nascetur nullam congue, lacus pulvinar. Placerat aliquam pellentesque parturient quam lacinia.
    </p>
</div>