@{
    ViewData["Title"] = "Contact Page";
}

<h1 class="display-4">Contact Us</h1>

<div class="container">
    <div class="container">
        <h4>Location</h4>
        <address>
            1131 Main Way <br />
            Salt City, ST 11111 <br />
            <phone>555-555-5555</phone>
        </address>
    </div>
    <form action="/" method="post">
        <label>Name:</label>
        <input type="text" name="email" value="" required /> <br />
        <label>Name:</label>
        <input type="email" name="email" value="" required /> <br />
        <label>Message:</label> <br />
        <textarea cols="40" rows="7" spellcheck="true" maxlength="355"></textarea> <br />
        <button type="submit">submit</button> <button type="reset">clear</button>
    </form>
</div>

