@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="jumbotron jumbotron-1">
</div>

<div class="container" style="margin-top:90px; margin-bottom:130px;">
    <hr />
    <div class="row">
        <div class="col-md-4 text-center">
            <p><strong>-Brunch Orders-</strong></p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        </div>
        <div class="col-md-4 text-center">
            <p><strong>-Lunch Orders-</strong></p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        </div>
        <div class="col-md-4 text-center">
            <p><strong>-Dinner Orders-</strong></p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        </div>
    </div>
</div>

<div class="container" style="margin-bottom:70px;">
    <div class="row">
        <div class="col-md-3">
            <div class="box-1 text-center">
                <i class="fas fa-book-open"></i>
                <h4>Simple Menus</h4>
                <ul>
                    <li>Entree's</li>
                    <li>Smoked Ribs</li>
                    <li>Dry Rubbed</li>
                    <li>Rare Steaks</li>
                </ul>
            </div>
            <div class="content-1 text-center">
                <i class="fas fa-utensils"></i>
                <h4>Local Food</h4>
                <ul>
                    <li>Entree's</li>
                    <li>Smoked Ribs</li>
                    <li>Dry Rubbed</li>
                    <li>Rare Steaks</li>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box-2 text-center">
                <i class="fas fa-utensils"></i>
                <h4>Local Food</h4>
                <ul>
                    <li>Entree's</li>
                    <li>Smoked Ribs</li>
                    <li>Dry Rubbed</li>
                    <li>Rare Steaks</li>
                </ul>
            </div>
            <div class="content-2 text-center">
                <i class="fas fa-book-open"></i>
                <h4>Simple Menus</h4>
                <ul>
                    <li>Entree's</li>
                    <li>Smoked Ribs</li>
                    <li>Dry Rubbed</li>
                    <li>Rare Steaks</li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 text-center">
            <div class="box-3 text-center">
                <i class="fas fa-truck"></i>
                <h4>Delivery</h4>
                <ul>
                    <li>Entree's</li>
                    <li>Smoked Ribs</li>
                    <li>Dry Rubbed</li>
                    <li>Rare Steaks</li>
                </ul>
            </div>
            <div class="content-3 text-center">
                <i class="fas fa-truck"></i>
                <h4>Delivery</h4>
                <ul>
                    <li>Entree's</li>
                    <li>Smoked Ribs</li>
                    <li>Dry Rubbed</li>
                    <li>Rare Steaks</li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 text-center">
            <div class="box-4 text-center">
                <i class="fas fa-headset"></i>
                <h4>Support</h4>
                <ul>
                    <li>Entree's</li>
                    <li>Smoked Ribs</li>
                    <li>Dry Rubbed</li>
                    <li>Rare Steaks</li>
                </ul>
            </div>
            <div class="content-4 text-center">
                <i class="fas fa-headset"></i>
                <h4>Support</h4>
                <ul>
                    <li>Entree's</li>
                    <li>Smoked Ribs</li>
                    <li>Dry Rubbed</li>
                    <li>Rare Steaks</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-bottom:90px;">
    <div class="row">
        <div class="col-md-4 box-shadow">
            <div class="card card-body text-center" style="margin-top:10px;">
                <img src="https://storage.googleapis.com/gweb-uniblog-publish-prod/images/image01_ulUw6bc.max-1000x1000.png" width="90%" alt="Alternate Text" /> <br />
                <img src="https://o.aolcdn.com/images/dims3/GLOB/crop/5520x3619+0+54/resize/1028x675!/format/jpg/quality/85/https%3A%2F%2Fs.yimg.com%2Fos%2Fcreatr-images%2F2019-07%2F2e3d89c0-aefb-11e9-bffb-1a779c8357be" width="90%" alt="Alternate Text" /> <br />
            </div>
        </div>
        <div class="col-md-4 box-shadow">
            <div class="card card-body text-center" style="margin-top:10px;">
                <img src="https://storage.googleapis.com/gweb-uniblog-publish-prod/images/image01_ulUw6bc.max-1000x1000.png" width="90%" alt="Alternate Text" /> <br />
                <img src="https://o.aolcdn.com/images/dims3/GLOB/crop/5520x3619+0+54/resize/1028x675!/format/jpg/quality/85/https%3A%2F%2Fs.yimg.com%2Fos%2Fcreatr-images%2F2019-07%2F2e3d89c0-aefb-11e9-bffb-1a779c8357be" width="90%"alt="Alternate Text" />
            </div>
        </div>
        <div class="col-md-4 box-shadow">
            <div class="card card-body text-center" style="margin-top:10px;">
                <img src="https://storage.googleapis.com/gweb-uniblog-publish-prod/images/image01_ulUw6bc.max-1000x1000.png" width="90%" alt="Alternate Text" /> <br />
                <img src="https://o.aolcdn.com/images/dims3/GLOB/crop/5520x3619+0+54/resize/1028x675!/format/jpg/quality/85/https%3A%2F%2Fs.yimg.com%2Fos%2Fcreatr-images%2F2019-07%2F2e3d89c0-aefb-11e9-bffb-1a779c8357be" width="90%" alt="Alternate Text" />
            </div>
        </div>
    </div>
</div>