@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="container">

    <p style="margin-top:30px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quod equidem non reprehendo; <a href='http://loripsum.net/' target='_blank'>Immo videri fortasse.</a> Quasi ego id curem, quid ille aiat aut neget. Duo Reges: constructio interrete. </p>

    <p>Si quicquam extra virtutem habeatur in bonis. Summus dolor plures dies manere non potest? </p>

    <ul>
        <li>Sed erat aequius Triarium aliquid de dissensione nostra iudicare.</li>
        <li>Quam ob rem tandem, inquit, non satisfacit?</li>
        <li>Neque enim disputari sine reprehensione nec cum iracundia aut pertinacia recte disputari potest.</li>
    </ul>


    <p>Sequitur disserendi ratio cognitioque naturae; Tu vero, inquam, ducas licet, si sequetur; Itaque hic ipse iam pridem est reiectus; Haec quo modo conveniant, non sane intellego. </p>

    <h2>Quae duo sunt, unum facit.</h2>

    <p>Zenonis est, inquam, hoc Stoici. <a href='http://loripsum.net/' target='_blank'>Philosophi autem in suis lectulis plerumque moriuntur.</a> <a href='http://loripsum.net/' target='_blank'>Multoque hoc melius nos veriusque quam Stoici.</a> <a href='http://loripsum.net/' target='_blank'>Et quod est munus, quod opus sapientiae?</a> Polycratem Samium felicem appellabant. <a href='http://loripsum.net/' target='_blank'>Quare attende, quaeso.</a> </p>

    <blockquote cite='http://loripsum.net'>
        Nam hunc ipsum sive finem sive extremum sive ultimum definiebas id esse, quo omnia, quae recte fierent, referrentur neque id ipsum usquam referretur.
    </blockquote>



</div>
